@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  background-image: url(../img/hero/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
}
header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
    width: 100%;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}
footer{
    width: 100%;
    height: 10vh;

    border-top: 1px solid black;
}

/* Estilos del nav */

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links a {
  text-decoration: none;
  transition: color 0.5s ease;
}
.nav-links a:hover {
  color: #333;
  transition: color 0.5s ease;
}
.burger {
  display: none;
  cursor: pointer;
}

/* Estilos para las barras del ícono de hamburguesa */
.bar1,.bar2,.bar3 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Estilos para dispositivos pequeños (móviles) */
@media only screen and (max-width: 768px) {
  .nav-links {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 0;
    padding: 10px;
    background-color: #4e4e4eb0;
  }
  .nav-links li{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
  }
  .burger{
    display: flex;
  }
}


/* seccion Hero */
.hero{
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
  background-image: url(../img//hero/img0.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 110%;
}
.heroA1{
  width: 90%;
  height: 40%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.heroA1img{
  width: 50%;
  height: 90%;
  animation: inleft 3s ease 0s 1 normal none;
}
.heroA1ContTxt{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10%;

  animation: inright 3s ease 0s 1 normal none;
}

/* botones */
.heroAccion{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;

  
}
.herobtn{
  width: 30%;
  max-width: 200px;
  height: 100%;
  max-height: 50px;
  padding: 5px;
  padding-right: 30px;

  border-radius: 25px;
  background-color: #4e4e4e70;

  color: white;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: inright 3s ease 0s 1 normal none;
}
.herobtn p{
  margin-left: 10px;
}
.herobtn:hover{
  background-color: #002fff6b;
}
.herobtn img{
  width: 30px;
  height: 30px;

  animation: zoom 2s ease 0s 1 normal forwards;
}
h1{
  font-size: 60px;
  color: white;
}
h2{
  min-height: 30%;
  width: 100%;
  color: white;
  font-size: 20px;
}

/* hero cards */

.heroCardCont{
  width: 100%;
  height: 15%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;

  filter: drop-shadow(10px 5px 17px #4e4e4e);

  animation: hero 2s ease 0s 1 normal forwards;
}
.hc0{
  width: 300px;
  height: 90px;
  padding: 5px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 1s ease;
}
.hc0:hover{
  transform: scale(1.2);
}
.hc1{
  background-image: url(../img/hero/hc0/hc1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
}
.hc2{
  background-image: url(../img/hero/hc0/hc2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
}
.hc3{
  background-image: url(../img/hero/hc0/hc3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 80%
}

/* div ver mas */

.vMasCont{
  width: 100%;
  
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.vMasCont a{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.vMasCont img{
  width: 40px;
  height: 20px;
}

/* section Us */

.nosotrosCont{
  width: 100%;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nosotrosCloud{
  width: 90%;
  min-height: 90%;

  padding: 5px;
  border-radius: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nosotrosCloudCloudTxt{
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nosotroscloudContTxt{
  width: 100%;
  height: 80%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nosotroscloudContTxtTxt{
  width: 100%;
  height: 75%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cloudAccion{
  width: 100%;
  height: 20%;
  margin-top: 1% ;
  display: flex;
  justify-content: center;
}
.nosotrosCloudcard{
  width: 50%;
  height: 80%;
}
.nosotrosCloudcardfrontimg{
  width: 100%;
  height: 100%;
}
/* cloud cards */

.nosotrosCloudcardcontent {
  width: 100%;
  height: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;
}
.nosotrosCloudcard:hover .nosotrosCloudcardcontent {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}
.nosotrosCloudcardfront,.nosotrosCloudcardback {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  backface-visibility: hidden;
}
.nosotrosCloudcardfront{
  transform: rotateY( 0deg );
}
.nosotrosCloudcardback {
  transform: rotateY( 180deg );
  display: flex;
  justify-content: center;
}

iframe{
  width: 100%;
  height: 100%;
  background-color: #4e4e4e;
}

/* Redes */

.contRedes{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}
.icon{
  width: 30px;
  height: 30px;
}
/* Section Servicios */

.servicios {
  width: 90%;
  min-height: 90vh;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;

}
.serviciosTitle{
  width: 100%;
  height: 10%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serviciosContCard{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


/* section Fotos */

.fotos{
  width: 70%;
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Carousel */
.carrouselCont{
  width: 100%;
  height: 100%;

  display: flex;
}
.carousel-container {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.carousel {
  width: 100%;
  height: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


  border-radius: 25px;
}
.carousel-item {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.carousel-item img {
  width: 100%;
  height: 90%;
  border-radius: 15px;
  display: block;
  margin: auto;
}
.carousel-item p {
  display: none;
  width: 100%;
  height: 10%;
  padding: 10px;
  color: black;
}
.carousel-list {
  width: 100%;

  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;

  border-radius: 25px;
}
.carousel-list li {
  max-width: 25px;
  max-height: 25px;

  padding: 3px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  background-color: rgb(56, 55, 55);

  text-align: center;
}
.carousel-list li:hover {
  color: black;
  background-color: rgba(190, 233, 2, 0.747);
}

/* card homologaciones */

.homologacionesCont{
  border: 1px solid black;

  max-width: 300px;
  max-height: 600px;
  padding: 30px;
  border-radius: 25px;
}
.servicoMecanicoCont{
  border: 1px solid black;

  max-width: 300px;
  max-height: 600px;
  padding: 30px;
  border-radius: 25px;
}
/* botones */

.btn{
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 100px;

  border-radius: 10px;
  background-color:#4e4e4e6c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

  transition: all 0.5s ease-in-out;
}
.btn:hover{
  transition: all 0.5s ease-in-out;
  background-color:#1422e26c;
  color: rgb(0, 0, 0);
}